body{
    
    background-color: brown;
}

header{
    background-color: rgb(163, 4, 150);
    color: rgb(30, 255, 0);
    text-align: center;
    padding: 28px;
}



nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cadetblue;

}

nav li{
    float: left;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}



main{
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-image:url(wallpaper.png);
}





footer{
    background-color: blueviolet;
    text-align: center;
}


form{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: aquamarine;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"]{
    margin-right: 5px;
}

button[type="submit"],
button[type="reset"]{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: chartreuse;
    border: none;
    color: crimson;
}

button[type="submit"]:hover,
button[type="reset"]:hover{
    background-color: crimson;
    color:chartreuse;
    font-weight: bold;
}

div#kiri{
    width: 48%;
    float: left;
    padding: 5px;
    border-style: dashed;
    background-color: cornflowerblue;
}

div#kanan{
    width: 48%;
    float: right;
    padding: 5px;
    border-style: dashed;
    background-color: coral;
}
.clear {clear:both}